In [29]:
print("hello world")

hello world

In [30]:
import numpy;

In [31]:
# import dependencies
import pandas as pd;
import kagglehub
path = kagglehub.dataset_download("shree1992/housedata")

print("Path to dataset files:", path)

Path to dataset files: /Users/jaslavie/.cache/kagglehub/datasets/shree1992/housedata/versions/2

In [32]:
# set up data
data = pd.read_csv('./data.csv')

In [33]:
# process and analyze change in price over time
print(data.head())

                  date      price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0  2014-05-02 00:00:00   313000.0       3.0       1.50         1340      7912
1  2014-05-02 00:00:00  2384000.0       5.0       2.50         3650      9050
2  2014-05-02 00:00:00   342000.0       3.0       2.00         1930     11947
3  2014-05-02 00:00:00   420000.0       3.0       2.25         2000      8030
4  2014-05-02 00:00:00   550000.0       4.0       2.50         1940     10500

   floors  waterfront  view  condition  sqft_above  sqft_basement  yr_built  \
0     1.5           0     0          3        1340              0      1955
1     2.0           0     4          5        3370            280      1921
2     1.0           0     0          4        1930              0      1966
3     1.0           0     0          4        1000           1000      1963
4     1.0           0     0          4        1140            800      1976

   yr_renovated                    street       city  statezip country
0          2005      18810 Densmore Ave N  Shoreline  WA 98133     USA
1             0           709 W Blaine St    Seattle  WA 98119     USA
2             0  26206-26214 143rd Ave SE       Kent  WA 98042     USA
3             0           857 170th Pl NE   Bellevue  WA 98008     USA
4          1992         9105 170th Ave NE    Redmond  WA 98052     USA

In [34]:
data_arr = data.values # convert to numpy array
print(data_arr[0, :]) # check the first row

['2014-05-02 00:00:00' 313000.0 3.0 1.5 1340 7912 1.5 0 0 3 1340 0 1955
 2005 '18810 Densmore Ave N' 'Shoreline' 'WA 98133' 'USA']

### Find the average price in each city

In [35]:
avg_price = numpy.mean(data_arr[:, 2]) # iterates through all prices of houses
print("Average price of houses:", avg_price)

Average price of houses: 3.4008695652173913

### Plot the data